<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title> 05 Directives </title>
    <script src="./bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="appCtrl">
    <div class="container">
      <div class="row">
        <h1 class="text-center text-muted">Ng-Repeat <small>AngularJS</small></h1>
        <hr>
        <h2>Users</h2>
        <ul class="list-group" ng-repeat="user in users">
          <li class="list-group-item">Name: {{ user.name }}, Age: {{ user.age }}</li>
        </ul>

        <hr>
        <h2>Numbers</h2>
        <ul class="list-group" ng-repeat="number in numbers track by $index">
          <li class="list-group-item"> {{ number }}</li>
        </ul>

      </div>
    </div>
  </body>
</html>
