<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title> 05 Filters </title>
    <script src="./bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="appCtrl">
    <div class="container">
      <div class="row">
        <h1 class="text-center text-muted">FILTERS <small>AngularJS</small></h1>

        Search: <input ng-model="searchText" class="form-control"><hr>
        <table class="table">
          <tr>
            <th>
              Name
            </th>
            <th>
              Phone
            </th>
            <th>
              Age
            </th>
            <tr ng-repeat="user in users | filter: searchText">
              <td>
                {{ user.name }}
              </td>
              <td>
                {{ user.phone }}
              </td>
              <td>
                {{ user.age }}
              </td>

            </tr>
          </tr>

        </table>

        <form class="form-inline" action="index.html" method="post">
          <div class="form-group">
            <label for="name">Search by Name:</label>
            <input name="name" ng-model="search.name">
          </div>
          <div class="form-group">
            <label for="phone">Search by Phone:</label>
            <input name="phone" ng-model="search.phone">
          </div>
          <div class="form-group">
            <label for="age">Search by Age:</label>
            <input name="age" ng-model="search.age">
          </div>

        </form>

        <table class="table">
          <tr>
            <th>
              Name
            </th>
            <th>
              Phone
            </th>
            <th>
              Age
            </th>
            <tr ng-repeat="user in users | filter: search">
              <td>
                {{ user.name | toLower }}
              </td>
              <td>
                {{ user.phone }}
              </td>
              <td>
                {{ user.age }}
              </td>
            </tr>
          </tr>

        </table>
      </div>
    </div>
  </body>
</html>
