<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title> 05 Directives </title>
    <script src="./bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="appCtrl">
    <div class="container">
      <div class="row">
        <h1 class="text-center text-muted">FILTERS <small>AngularJS</small></h1>

        Search: <input ng-model="searchText" class="form-control"><hr>
        <table class="table">
          <tr>
            <th>
              Name
            </th>
            <th>
              Phone
            </th>
            <th>
              Age
            </th>
            <tr ng-repeat="user in users | filter: searchText">
              <td>
                {{ user.name }}
              </td>
              <td>
                {{ user.phone }}
              </td>
              <td>
                {{ user.age }}
              </td>

            </tr>
          </tr>

        </table>
      </div>
    </div>
  </body>
</html>
