<h3>Your Favourite Movies:</h3>

{{dataService}}

<button type="button" name="button" (click)="onSelect(true)" [class.showingData]="showdata === true" >Show Data</button>
<button type="button" name="button" (click)="onSelect(false)" [class.showingData]="showdata === false" >Hide Data</button>
<div class="row" *ngIf="showdata === true">
  <p>
    <span>Title : <strong>{{movie.title}}</strong></span>
  <br>
    <span>Director: <strong>{{movie.director}}</strong></span>
  <br>
    <span>Year: <strong>{{movie.year}}</strong></span>
  </p>
</div>
<div class="row">
  Change Title:
  <input type="text" (keypress)="onLog(true)"  [(ngModel)]="movie.title">
</div>

<hr>
<h2>Movie List</h2>
<ul class="row" *ngFor="#movie of movies">

    <li (click)="onChangeMovie(movie)" class="movie-title"
    [class.clicked]="selectedMovie.id === movie.id">
      Title : <strong>{{movie.title}}</strong></li>

    <li>Director: <strong>{{movie.director}}</strong></li>
    <li *ngIf="movie.year">Year: <strong >{{movie.year}}</strong></li>

</ul>
