

.title{


  font-size:2em;
}

.price{
  background: #2ecc71;
  border-radius: 80px;
  padding:30px 12px;
  position:relative;

  color:#fff;
  font-size:1.6em;
  margin-right: 0;
}

.date{

}

.thumbnail{
  background:#ecf0f1;
  padding:25%;
}
