

.title{


  font-size:2em;
}

.price{
  background: #2ecc71;
  border-radius: 10px;
  


  color:#fff;
  font-size:1.6em;
  margin-right: 0;
}

.date{

}

.thumbnail{
  background:#ecf0f1;
  padding:25%;
}
